body {
    background-image: radial-gradient( circle, rgba(0, 0, 0, 0) 0%, rgba(201, 184, 184, 0) 100% );
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*height: 2000px;*/
    display: flex;
    flex-direction: column;

  }



.darkCheck{
    z-index: 2;
    position: absolute;
    top: 4%;
    cursor: pointer;
    appearance: none;
    margin: auto;
    left: 2%;
    
}

.darkCheck:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: rgb(255,77,77);
    background: rgb(255,77,77);
    border-radius: 20px;
    transition: transform .5s;
}

.darkCheck:checked:before{
    content: "";
    width: 20px;
    height: 20px;
    color: #000;
    background: rgb(255,77,77)f;
    border-radius: 20px;
    transform: translateX(30px);

}

.darkCheck:checked ~ *{
    background: rgba(31, 31, 31, 0.863);
    
}

